      nav ul {
        display: flex;
        justify-content: center;

      }
 nav ul li {
  display: none;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.2s;
  font-size: 18px;
}
nav a:hover {
  color: deepskyblue;
}
nav img {
  float: right;
  margin-left: 50px;
  margin-right: 50px;
  width: 25px;
  cursor: pointer;
}
#header-style {
   position: fixed; /*fixed/sticky position*/
        z-index: 99; /*make sure it does not overlap*/
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        background: ghostwhite;
        width: 100%;
        margin-left: -8px;
        margin-top: -8px;
        overflow-x: hidden;
        padding-bottom: 20px;
}
.icon-toggle-1  {
  margin-left: -50px;
}
#menu-icon {
  display: none;
}
#other-icons {
  margin-top: -40px;
}
#title h2 {
  margin-left: 50px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 1180px;
}

@media only screen and (min-width: 280px) {
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: 38px;
}
#menu ul li {
  list-style: none;
  margin-top: 30px;

}
#menu ul {
  background: deepskyblue;
  position: fixed;
  border-radius: 10px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-top: -30px;
  margin-left: 68px;

}
#menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.2s;
}
#menu a:hover{
  color: darkblue;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 750px;
}
#menu-icon {
  display: block;
  margin-top: 55px;
}
#menu-icon img {
  width: 25px;
  cursor: pointer;
  margin-left: 80px;
}
#title {
  text-align: center;
  margin-top: 20px;
  position: fixed;
  margin-left: 350px;
}
#CloseListMenu {
  margin-top: -25px;
}
#header-style {
   position: fixed; /*fixed/sticky position*/
        z-index: 99; /*make sure it does not overlap*/
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        background: ghostwhite;
        width: 100%;
        margin-left: -8px;
        margin-top: -8px;
        overflow-x: hidden;
        padding-bottom: 40px;
        overflow: hidden;
}
}
@media only screen and (min-width: 1024px) {
  #menu-icon {
  display: none;
}
#menu {
  display: none;
}
 nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: -3px;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 800px;
}
#title  {
  margin-left: 10px;
  text-align: left;
  margin-top: -40px;
  position: static;
}
#title h2 {
  margin-top: -20px;
}
}
@media only screen and (min-width: 1050px) {
  #menu-icon {
  display: none;
}
 nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: -3px;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 1050px;
}
#title  {
  margin-left: 50px;
  text-align: left;
  margin-top: -40px;
  position: static;
}
#title h2 {
  margin-top: -42px;
}
#menu {
  display: none;
}
}
@media only screen and (min-width: 1440px) {
  #menu-icon {
  display: none;
}
#menu {
  display: none;
}
 nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: -3px;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 1210px;
}
#title  {
  margin-left: 50px;
  text-align: left;
  margin-top: -30px;
  position: static;
}
}
@media only screen and (min-width: 1500px) {
  #menu-icon {
  display: none;
}
 nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: -3px;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 1300px;
}
#title  {
  margin-left: 50px;
  text-align: left;
  margin-top: -30px;
  position: static;
}
#menu {
  display: none;
}
}
@media only screen and (min-width: 2000px) {
  #menu-icon {
  display: none;
}
#menu {
  display: none;
}
 nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 30px;
}
  nav img {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
  width: 25px;
  cursor: pointer;
  margin-top: -3px;
}
.icon-toggle-1  {
  margin-left: -35px;
}
.icon-toggle-3  {
  position: fixed;
  margin-left: 2330px;
}
#title  {
  margin-left: 50px;
  text-align: left;
  margin-top: -30px;
  position: static;
}
}

#drop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  overflow-x: hidden;

}
#Dropdown {
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
background: deepskyblue;
padding: 50px 65px 50px 65px;
border-radius: 10px;
margin-left: 1000px;
transition: 0.5s;
}
#Dropdown ul li {
  list-style: none;
}
#Dropdown a {
  text-decoration: none;
  color: white;
  margin-left: -50px;
  transition: 0.2s;
}
#Dropdown a:hover {
  color: darkblue;
}

@media only screen and (max-width: 1024px) {
  #Dropdown {
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
background: deepskyblue;
padding: 50px 65px 50px 65px;
border-radius: 10px;
margin-left: 700px;
transition: 0.5s;
margin-top: 33px;
} 
}