#sign-up-layout {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}
#sign-up {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	padding-top: 0px;
	padding-bottom: 70px;
	border-radius: 30px;
}
#sign-up-color-header {
	background: gold;
	color: gold;
	padding-top: 3px;
	padding-bottom: 3px;

}
#sign-up-text-header {
	text-align: center;
}
#sign-up-informations {
	text-align: center;
}
#sign-up-informations input[type="text"] {
	width: 270px;
	height: 30px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
#sign-up-informations input[type="email"] {
	width: 270px;
	height: 30px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
#sign-up-informations input[type="password"] {
	width: 270px;
	height: 30px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
#sign-up-informations button {
	width: 280px;
	font-weight: bold;
	height: 50px;
	background: gold;
	color: white;
	border: gold;
	cursor: pointer;
	transition: 0.5s;
}
#sign-up-informations a {
color: gold;
font-size: 15px;
transition: 0.5s;
	}
	#sign-up-informations button:hover {
		background: orange;
	}
	#sign-up-informations a:hover {
	  color: orange;
	} 
	/*for the signup first section */
	#sign-up-layout-first {
		display: flex;
	justify-content: center;
	margin-top: 5vh;
	}
	#sign-up-first {
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	padding-top: 0px;
	padding-bottom: 70px;
	border-radius: 30px;
	}
	#sign-up-first-content {
		text-align: center;
	}
	#sign-up-first-content button {
			width: 250px;
	font-weight: bold;
	height: 50px;
	background: gold;
	color: white;
	border: gold;
	cursor: pointer;
	transition: 0.5s;
	}
	#sign-up-first-content button:hover {
		background: orange;
	}