#stories-section {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 80%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 10px;
}
#stories-search input[type="text"] {
	width: 70%;
	height: 20px;
	padding-top: 12px;

}
#stories-search button {
	width: 50px;
	height: 37px;
	padding-bottom: 2px;
	
	background: royalblue;
	border: royalblue;
}
#stories-search img {
	margin-top: 5px;
	width: 20px;
}
#stories-sub-titles ul li {
list-style: none;
margin-left: 50px;
display: inline-block;
}
#stories-sub-titles ul {
	display: flex;
	justify-content: center;
	
}
#stories-sub-titles ul li a {
	text-decoration: none;
	color: black;
	transition: 0.2s;
}
#stories-sub-titles ul li a:hover {
	text-decoration: none;
	color: deepskyblue;
}
#page1  {
	color: royalblue;
}

@media only screen and (min-width: 280px) {

}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1050px) {

}
@media only screen and (min-width: 1440px) {

}
@media only screen and (min-width: 1500px) {

}
@media only screen and (min-width: 2000px) {

} 
